.event-image {
	width: 150px;
	height: 150px;
	overflow: hidden;
	float: left;
	border-right: 5px solid #2C2C2C;
	margin-right: 11px;
}

.event-image img {
	height: 150px;
}

.event-city {
	float: right;
	color: #CCC;
	padding-right: 10px;
	font-size: 24px;
}

#topic-list.event-list {
	border: 1px solid #ddd;
}

#events-calendar .fc-event {
	width: initial !important;
	border: 0 !important;
	background-color: #FF7A00;
	color: #fff;
}

#events-calendar .fc-event-time {
	display: none;
}

#events-calendar .fc-state-highlight {
	background: initial;
}

#events-calendar {
	float: right;
	width: 300px;
	border: 2px solid rgba(235, 0, 0, 0.18);
	background: linear-gradient(to bottom, #424242 0%, #0e1011 95%, #222222 100%) !important;
	box-shadow: 6px 6px 20px 6px rgba(0, 0, 0, 0.59);
	position: relative;
	margin-top: 50px;
	color: #A7A7A7;
	border-radius: 40px;
	padding-bottom: 40px;
	padding-left: 40px;
	padding-right: 40px;
}

#events-calendar:after {
	content: url('/plugins/discourse-events/images/pikkunalle.png');
	position: absolute;
	left: -43px;
	top: -69px;
}

#events-calendar .fc-grid .fc-day-number {
	text-align: center;
	float: none;
}

#events-calendar h2 {
	font-family: Roboto;
	font-weight: 100;
	font-size: 24px;
	letter-spacing: 8px;
	padding-left: 43px;
	padding-top: 16px;
	color: #eee;
	text-transform: uppercase;
}

#events-calendar th, #events-calendar td {
	border: 0 !important;
}

#events-calendar .fc-button-today {
	display: none;
}

.events #list-area {
	width: 640px;
	float: left;
}